<!DOCTYPE html>
<html>

<head>
  <title>Audio Classification</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header class="fixed top-0 left-0 z-20 w-full bg-transparent text-white">
    <div class=" flex justify-between w-[1280px] m-auto items-center py-2 ">
      <div class="">
        <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="h-10 w-32">
      </div>
      <div>
        <ul class="flex justify-center items-center gap-10 pr-20 text-[17px]">
          <li>
            <a href="#">Trang Chủ</a></li>
          <li><a href="#demo">Demo</a></li>
          <li> <a href="#member">Thành viên</a></li>
        </ul>
      </div>
    </div>

  </header>
  <section id="large-header" class="large-header w-full  relatives top-0 left-0 z-10 banner ">
    <div class="h-full flex justify-center items-center  w-[1280px] m-auto text-white  ">
      <div class="flex justify-center items-center flex-col w-1/2 gap-5">
        <h1 class=" font-bold text-4xl">Tổng hợp tiếng nói</h1>
        <p class="banner-introduce-des banner-introduce-des-button text-center">Công nghệ cho phép tự động chuyển đổi
          tiếng nói thành văn bản</p>
        <p class="button transition  duration-200">
          <a href="#demo" class="button-outline-orange btn-banner-link">Trải nghiệm ngay</a>
        </p>
      </div>
      <div class=" w-1/2">
        <img src="{{url_for('static', filename='tts.png')}}" alt="banner" class="object-contain">
      </div>
    </div>
  </section>
  <section id="demo" class="bg-[#fafafa] py-20 ">
    <div class=" w-[1280px] m-auto">
      <h2 class="font-bold text-center text-2xl text-[#47494b]">Trải nghiệm</h2>
      <div
        class="flex  items-center justify-center bg-grey-lighter mt-10 border-dashed border-2 border-gray-400 py-12 flex-col ">
        <label
          class="w-64 flex flex-col items-center px-4 py-6 bg-white text-red-500 text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer  ">
          <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
          </svg>
          <span  id="fileName" class="mt-2 text-base leading-normal">Select a file</span>
          <form method="POST" enctype="multipart/form-data" class="flex flex-col ">
            <input type="file"  name="audio"  id="fileInput" class="hidden" accept=".wav" onchange="displayFileName()  ">
            <input type="submit" class="mt-3 font-semibold cursor-pointer" value="Upload" />
          </form>

        </label>
        <div class="mt-4 d-flex align-items-center   ">
          {% if error %}
          <p>{{ error }}</p>
          {% endif %} {% if predictions %}
          <h2 class="d-block ">Predictions:</h2>
          <p class="mt-2 pre pl-2"> {{ predictions}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="#demo">
    <div class="header  w-[1280px] m-auto">
      <h1 class="">Demo Audio Classification</h1>
    </div>
    <div class="col p-5 form-input">
      <form method="POST" enctype="multipart/form-data">
        <input type="file" name="audio" accept=".wav" class="text-red-400" />
        <input type="submit" value="Upload" />
      </form>
      <div class="mt-4 d-flex align-items-center   ">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %} {% if predictions %}
        <h2 class="d-block ">Predictions:</h2>
        <p class="mt-2 pre pl-2"> {{ predictions}}</p>
        {% endif %}
      </div>

    </div>
  </section> -->

  <section id= "member">
    <div class="w-[1280px] m-auto pb-20">
      <h2 class="font-bold text-center text-2xl text-[#47494b]">Thành viên</h2>
      <div class="grid grid-cols-2 gap-5 w-1/2 m-auto  mt-10">
        <div class="card flex justify-center items-center flex-col rounded-xl p-5 gap-5 cursor-pointer">
          <i class="fa-solid fa-user-tie fa-3x"></i>
          <h3 class="font-semibold">Trần Ngọc Thành</h3>
        </div>
        <div class="card flex justify-center items-center flex-col rounded-xl p-5 gap-5 cursor-pointer">
          <i class="fa-solid fa-user-tie fa-3x"></i>
          <h3 class="font-semibold">Trần Thành</h3>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="bg-[#004572] w-full py-5">
    <div class="d-flex justify-content-center footer-custom">
      <p class="cs-mb-0 copyright text-white text-center">Copyright 2023 </p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>